In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [3]:
df =  pd.read_csv('SCMS_Delivery_History_Dataset_20150929.csv')

In [12]:
Df = pd.DataFrame(df)

In [16]:
df['Project Code'].value_counts()

116-ZA-T30    768
104-CI-T30    729
151-NG-T30    628
114-UG-T30    596
108-VN-T30    522
106-HT-T30    450
111-MZ-T30    431
110-ZM-T30    406
109-TZ-T30    369
107-RW-T30    340
116-ZA-T01    319
161-ZA-T30    315
104-CI-T01    314
101-CD-T30    308
113-ZW-T30    263
110-ZM-T01    260
111-MZ-T01    200
106-HT-T01    171
108-VN-T01    166
105-GY-T30    159
133-NG-T30    145
112-NG-T01    139
109-TZ-T01    135
114-UG-T01    134
117-ET-T01    118
103-ZW-T30    101
102-BI-T30     98
117-ET-T30     98
105-SS-T30     91
107-RW-T01     90
             ...
901-LR-T30      3
101-AF-T30      3
103-AO-T30      3
A02-SL-T50      3
900-LR-T30      3
104-BW-T30      3
900-TG-T30      3
127-KE-T01      3
A01-ZM-T50      2
800-LS-T30      2
102-LS-T01      2
A01-BF-T50      2
A01-CM-T50      2
203-SZ-T30      2
100-KZ-T01      2
120-AO-T01      2
129-KG-T01      2
102-AO-T30      2
136-RW-T01      1
A01-SN-T50      1
103-CD-T30      1
201-UG-T30      1
A02-SN-T50      1
900-GY-T30      1
100-BZ-T30      1
100-SL-T01      1
100-GN-T30      1
103-UG-T30      1
100-SN-T01      1
104-SZ-T30      1
Name: Project Code, Length: 142, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
ID                              10324 non-null int64
Project Code                    10324 non-null object
PQ #                            10324 non-null object
PO / SO #                       10324 non-null object
ASN/DN #                        10324 non-null object
Country                         10324 non-null object
Managed By                      10324 non-null object
Fulfill Via                     10324 non-null object
Vendor INCO Term                10324 non-null object
Shipment Mode                   9964 non-null object
PQ First Sent to Client Date    10324 non-null object
PO Sent to Vendor Date          10324 non-null object
Scheduled Delivery Date         10324 non-null object
Delivered to Client Date        10324 non-null object
Delivery Recorded Date          10324 non-null object
Product Group                   10324 non-null object
Sub Classification              10324 non-null object
Vendor                          10324 non-null object
Item Description                10324 non-null object
Molecule/Test Type              10324 non-null object
Brand                           10324 non-null object
Dosage                          8588 non-null object
Dosage Form                     10324 non-null object
Unit of Measure (Per Pack)      10324 non-null int64
Line Item Quantity              10324 non-null int64
Line Item Value                 10324 non-null float64
Pack Price                      10324 non-null float64
Unit Price                      10324 non-null float64
Manufacturing Site              10324 non-null object
First Line Designation          10324 non-null object
Weight (Kilograms)              10324 non-null object
Freight Cost (USD)              10324 non-null object
Line Item Insurance (USD)       10037 non-null float64
dtypes: float64(4), int64(3), object(26)
memory usage: 2.6+ MB

In [6]:
df.describe()

,ID,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Line Item Insurance (USD)
count,10324.000000,10324.000000,10324.000000,1.032400e+04,10324.000000,10324.000000,10037.000000
mean,51098.968229,77.990895,18332.534870,1.576506e+05,21.910241,0.611701,240.117626
std,31944.332496,76.579764,40035.302961,3.452921e+05,45.609223,3.275808,500.190568
min,1.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,12795.750000,30.000000,408.000000,4.314593e+03,4.120000,0.080000,6.510000
50%,57540.500000,60.000000,3000.000000,3.047147e+04,9.300000,0.160000,47.040000
75%,83648.250000,90.000000,17039.750000,1.664471e+05,23.592500,0.470000,252.400000
max,86823.000000,1000.000000,619999.000000,5.951990e+06,1345.640000,238.650000,7708.440000

In [7]:
df.columns

Index(['ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #', 'Country',
       'Managed By', 'Fulfill Via', 'Vendor INCO Term', 'Shipment Mode',
       'PQ First Sent to Client Date', 'PO Sent to Vendor Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [18]:
df['Project Code'].value_counts().count()

142